
body {
  font-family: 'Domine', serif;
  font-family: 'Noto Serif JP', serif;
    margin: 0;
    background-image: url(img/背景.png);
    background-repeat: repeat-xy;
    height: 100vh;
    
    margin: 0 auto;
    text-align: center;
    vertical-align: bottom;
  }
  main{
    background-color: #fff;
    text-align: center;
    padding: 0 0 15% 0;
    margin: 0 auto;
    

  }
  
  header {
    background-color: rgb(255, 255, 255);
    margin: 50 0 10 0;
    padding: 20px;
  }
 
  .header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .header-logo{
    padding: 10px 0;
    margin-bottom: 0;
    width: 160px;
    height: 37px;

  }
  
    .menu-btn{
      padding: 10px 0;
      border: none;
      border-radius: 4px;
      width: 40px;
      height: 40px;
      background: url(img/ホーム.png) no-repeat center center;
      background-size: contain;
    }
    @media screen and (min-width:  768px) {
      .header-logo{
        padding: 20px 0;
        width: 200px;
        height:46px;
      }
      .menu-btn{
        display: none;
      }
    }
    nav{
	background: #393939;
}
.navbar{
	display: none;
	list-style-type: none;
}
.navbar a{
	display: block;
	padding: 0.6rem 0;
	color: #fff;
	text-decoration: none;
}
.navbar a:hover{
	background: #faebd7;
}
.navbar li{
	text-align: right;
}

@media screen and (min-width:  768px) {
	.navbar{
		display: flex !important;
		justify-content: space-around;
	}
	.navbar ul{
		background-color: #ffffff;
	}
	.navbar li{
		flex: 1 1 auto;
		text-align: center;
	}
	.navbar a.nav-current{
		background: #fff;
	}
}
.home-course{
	display: flex;
	flex-flow: column;
}
.item{
	flex: 1 1 auto;
	margin: 0 2px 4px 2px;
	border: solid 5px #fff;
	list-style-type: none;
	background: #fff;
}
@media screen and (min-width:  768px) {
	.home-course{
		flex-flow: row;
	}
}
.home-course a{
	color: #393939;
	text-decoration: none;
}
.home-course figure:hover{
	opacity: 0.5;
}
.home-course figcaption{
	padding: 15px 0;
	font-size: 0.9rem;
	font-weight: bold;
	text-align: center;
}
.img-container{
  display: flex;
  flex-flow: column;
  margin: 0 15vw;
}
@media screen and (min-width: 768px) {
  .img-container{
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5%;
  }
}
.img-container a{
  text-decoration: none;
}
.img-container a:hover{
  opacity: .8;
}
.img-box{
  width: 350px;
  text-align: center;
  background-color: #fff;
  margin: 1vw;
}
.img-box img{
  height: 350px;
  width: 350px;
  object-fit: cover;
  margin: 5px 5px 0px 5px;
}
h2{
  margin: 20 0 100 0;
  padding: 120 0 0 0;
}
p{
  margin: 70 0;
}
footer{
background-color: #fff;
}
.ul-footer{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
} 
.ul-footer a{
	display: block;
	padding: 0.6rem 0;
	color: #393939;
	text-decoration: none;
}
.ul-footer a:hover{
	color: #faebd7;
}

form{
  padding:  0px 0px 0px 0px;
}

h4{
  margin: 10px 0 10px 0;
}
h4 .koumoku{
  margin: 40px 0 0 0;
}
h5{
  margin: 0;
  padding: 0;
}
.input{
  margin: 50 30%;
  border: 5px solid #393939;
}
.responsive{
 width: 100%;
 margin: 15 0;
}
@media screen and (min-width: 768px) {
  .responsive{
    width: 70%;
  }
} 